 <div class="jumbotron">
      <h2>B<span style="color:#FF671F;">i</span>nder</h2>
      <h3>connecting you to your next textbook.</h3>
  </div>

  <div class="container text-center">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 style="margin-bottom: 1%;">Browse by Department</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="#">
            <img src="images/ISBC_2.jpg" alt="ISBC" width="300px">
            <div class="caption text-center">
              <h4>Information Systems</h4>
            </div>
          </a> 
        </div>
      </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="#">
              <img src="images/POLS_2.jpg" alt="POLS" width="300px">
              <div class="caption text-center">
                <h4>Political Science</h4>
              </div>
            </a> 
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="#">
              <img src="images/MRKT_3.jpg" alt="MRKT" width="300px">
              <div class="caption text-center">
                <h4>Marketing</h4>
              </div>
            </a> 
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="#">
              <img src="images/ACCT_1.jpg" alt="ACCT" width="300px">
              <div class="caption text-center">
                <h4>Accounting</h4>
              </div>
            </a> 
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="./productlist.html">
              <img src="images/MGMT_5.jpg" alt="MGMT" width="300px">
              <div class="caption text-center">
                <h4>Management</h4>
              </div>
            </a> 
          </div>
        </div>

    
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="#">
              <img src="images/ECON_5.jpg" alt="ECON" width="300px">
              <div class="caption text-center">
                <h4>Economics</h4>
              </div>
            </a> 
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="#">
              <img src="images/BA_1.jpg" alt="BA" width="300px">
              <div class="caption text-center">
                <h4>Business Administration</h4>
              </div>
            </a> 
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="#">
              <img src="images/FIN_2.jpg" alt="FIN" width="300px">
              <div class="caption text-center">
                <h4>Finance</h4>
              </div>
            </a> 
          </div>
        </div>

        <div class="col-md-4">
          <div class="thumbnail">
            <a href="#">
              <img src="images/ENTR_1.jpg" alt="ENTR" width="300px">
              <div class="caption text-center">
                <h4>Entrepreneurship</h4>
              </div>
            </a> 
          </div>
        </div>

        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <h4><a href="#">View all Departments</a></h4>
        </div>-->

    </div>

  </div>